* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pic {
  width: 120px;
  height: 30px;
  outline: none;
  border: none;

}

body {
  display: flex;
  background: white;
  color: #333;
  padding: 20px;
}


.sidebar {
  width: 240px;
  background: white;
  border-radius: 10px;
  padding: 20px 0;
}

.sidebar h2 {
  font-size: 18px;
  padding: 0 20px;
  color: rgb(25, 176, 236);
}

.sidebar h2 span {
  color: #00b0ff;
}

.nav {
  margin-top: 40px;
  list-style: none;
  color: black;

}

.nav li {
  margin: 10px 0;
}

.dropdown {
  position: relative;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.nav a {
  display: block;
  padding: 12px 20px;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  margin-right: 8px;
  transition: 0.3s;
  font-size: 25px;
}

#a:active,
#a:hover {
  background-color: rgb(238, 102, 102);

}

.status.pending,
.status.pending:hover {
  background-color: yellow;
}

.nav a:active,
.nav a:hover {
  background: rgb(150, 189, 204);
  color: white;
}

.main {
  flex: 1;
  padding: 20px;
  background-color: rgb(185, 218, 231);
  border-radius: 20px;
}


.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.order-section {

  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;


}

.order-header {
  justify-content: space-between;
  margin-bottom: 15px;

}

.disk {

  background-color: white;
  border-radius: 1px solid black;
}

.order {
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  margin-bottom: 15px;
  overflow: hidden;
}

.order-top {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #f9f9f9;
  background-color: rgb(180, 225, 180);
}

.order-1 {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #f9f9f9;
  background-color: white;
}

.status.completed {
  color: white;
  font-weight: 600;
  border-radius: 10px;
  background-color: green;
  padding: 3px;
}

#m {

  background-color: skyblue;
  border-radius: 5px;
  margin-right: 8px;


}

.status.pending {
  color: rgb(41, 183, 240);
  font-weight: 600;
  border-radius: 8px;
  background-color: rgb(167, 217, 237);
  padding: 4px;
}

.order-details {
  padding: 15px;
  background-color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;

}

.order-details table th,
table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.order-1 {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.btns {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.btns button {
  padding: 8px 14px;
  border-radius: 6px;
  border: 1px solid #00b0ff;
  cursor: pointer;
  transition: 0.3s;
}

.btns .cancel {
  background: #fff;
  color: #4cb3e2;
}

.btns .cancel:hover {
  background: #4292c7;
}

.btns .pickup {
  background: #00b0ff;
  color: #fff;
}

#a {

  width: 120px;
  height: 30px;
}

.click {
  background-color: rgb(16, 225, 225);
  width: 120px;
  height: 30px;
}

#c {
  color: rgb(22, 184, 22);
}

#h {
  color: rgb(97, 196, 235);

}

.h3 {
  margin-top: 20%;
  padding-left: 10%;
}

#bell {
  background-color: white;
  border-radius: 10px;
  font-size: 30px;
}

#set {
  background-color: rgb(188, 222, 236);
  border: 1px solid rgb(49, 186, 240);
  font-size: 20px;
  border-radius: 10px;
  padding: 1.5px;
}

.o {
  padding-top: 20px;
}

#color {
  background-color: white;
}

#s {
  background-color: white;
  border: 1px solid rgb(53, 53, 53);
}

.num {
  display: flex;
  align-items: center;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}


.title {
  font-size: 20px;
  color: #333;
}


.search-box {
  padding-left: 700px;
  display: flex;
  align-items: center;
  margin: 0 20px;

}

.search-box input {
  width: 100%;
  padding: 10px 40px 10px 35px;
  border: none;
  outline: none;
  background: white;
  font-size: 14px;
  border-radius: 1px solid white;
}

#j {
  border-radius: 1px solid white;
  background-color: white;
  font-size: 40px;
}

.search-box .search {

  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #777;
}


.profile {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile .settings {
  font-size: 20px;
  background: white;
  padding: 6px;
  border-radius: 60%;
  cursor: pointer;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

/* Mobile Devices (up to 600px) */
@media screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }

  .click {
    background-color: rgb(16, 225, 225);
    width: 50px;
    height: 30px;
    font-size: 8px;
  }

  #j {
    border-radius: 1px solid white;
    background-color: white;
    font-size: 20px;
  }
  .status.pending
  {
    padding: 0.5px;
  }

  .profile .settings {
    font-size: 15px;
    background: white;
    padding: 3px;
    border-radius: 60%;
    cursor: pointer;
    padding-top: 5px;
  }

  .sidebar {
    width: 100%;
    height: auto;
    border-right: none;
    border-bottom: 1px solid #e5e5e5;
  }

  .pic {

    width: 60px;
    height: 20px;
    position: absolute;
    left: 70%;
  }

  .nav a {
    font-size: 12px;
    padding: 10px 15px;
  }

  .main {
    padding: 10px;
    font-size: 9px;
  }

  .search-box input {
    width: 10%;
    font-size: 8px;
    height: 10px;
  }

  .order-section {
    flex-direction: column;
    gap: 1px;
  }

  #a {

    width: 35px;
    height: 40px;
    font-size: 10px;
  }

  .o {
    padding-left: 10px;
  }

  .search-box {
    padding-left: 0px;
    flex: 1;
    margin: 0 20px;

  }

  #set {
    background-color: rgb(188, 222, 236);
    border: 1px solid rgb(49, 186, 240);
    font-size: 5px;
    border-radius: 10px;
  }

  .profile img {
    width: 20px;
    height: 20px;
    border-radius: 50%;

  }

  .order-top {
    display: flex;
    justify-content: space-between;
    padding: 1px;
    background: #f9f9f9;
    background-color: rgb(180, 225, 180);
    font-size: 8px;
  }

  .order-1 {
    display: flex;
    justify-content: space-between;
    padding: 1px;
    background: #f9f9f9;
    background-color: white;
    font-size: 8px;
  }


  /*  Tablets (601px – 900px) */
  @media screen and (min-width: 601px) and (max-width: 900px) {
    .sidebar {
      width: 150px;
    }

    .nav a {
      font-size: 20px;
    }

    .main {
      padding: 15px;
    }

    .search-box input {
      width: 200px;
    }

    .order-section {
      flex-direction: column;
    }

    .o {
      padding-left: 10px;
    }

    .pic {

      width: 80px;
      height: 30px;
      position: absolute;
      left: 160%;

    }

  }

  /*Laptops & Desktops (901px and above)*/
  @media screen and (min-width: 901px) {
    .sidebar {
      width: 240px;
    }

    .main {
      padding: 20px;
    }

    .search-box input {
      width: 300px;
    }

    .o {
      padding-left: 10px;
    }
  }
}
